<router-outlet></router-outlet>

<div>
  <form [formGroup]="powerStats">
    <mat-form-field>
      <mat-label>Power stats</mat-label>
      <mat-select formControlName="power">
        <mat-option *ngFor="let p of powers" [value]="p">
          {{p}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Value power stats</mat-label>
      <input matInput placeholder="Ex. 56" formControlName="value">
    </mat-form-field>

    <button mat-button type="button" [disabled]="!powerStats.valid" (click)="onClickSort(powerStats.getRawValue())">
      Sort
    </button>

    <button mat-button type="button" (click)="onClickClear()">
      Clear
    </button>
  </form>
</div>

<div>
  <mat-form-field>
    <mat-label>Search by biography</mat-label>
    <input matInput placeholder="Ex. good" (keyup)="onKyeDown($event)">
  </mat-form-field>
</div>

<div class="container" *ngIf="heroes.length > 0">
  <mat-card class="hero" *ngFor="let h of heroes">
    <img mat-card-image src="{{h.img}}" alt="Photo of a hero">
    <p>
      {{h['powerstats']}}
    </p>
    <mat-card-content>
      <p>
        {{h['biography']}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
